<!DOCTYPE html>
<html>

<head>

    <title>{{ juego.name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <a href="/" class="boton-home">

    🏠 Inicio

    </a>

    <div class="pagina-juego">

    <div class="columna-izquierda">

        <img
        src="{{ juego.background_image }}"
        class="portada-juego">

        <form action="/agregar_favorito/{{ juego.id }}">

            <button class="boton-favorito">

                ❤️ Agregar a favoritos

            </button>

        </form>

        <div class="generos">

            {% for genero in juego.genres %}

            <span class="tag-genero">

                {{ genero.name }}

            </span>

            {% endfor %}

        </div>

    </div>

    <div class="columna-derecha">

        <h1 class="titulo-juego">

             {{ juego.name }}

        </h1>

        {% if promedio[0] %}

        <div class="promedio-box">

            ⭐ {{ "%.1f"|format(promedio[0]) }}/10

            <span>

                Basado en {{ promedio[1] }} resenas

            </span>

        </div>

        {% endif %}


        <p class="descripcion-juego">

            {{ descripcion }}

        </p>

<div class="plataformas">

    {% for plataforma in juego.platforms %}

    <span class="tag-plataforma">

        {{ plataforma.platform.name }}

    </span>

    {% endfor %}

</div>

        <div class="screenshots-grid">

            {% for imagen in screenshots %}

            <img
            src="{{ imagen.image }}"
            class="screenshot"
            onclick="abrirImagen('{{ imagen.image }}')">

            {% endfor %}

        </div>

        <div class="seccion-reseñas">

            <h2 class="titulo-reseñas">

                ⭐ Reseñas de usuarios

            </h2>

            <form
            action="/guardar_reseña"
            method="POST"
            class="form-reseña">

                <input
                type="hidden"
                name="juego_id"
                value="{{ juego.id }}">

                <input
                type="number"
                name="nota"
                step="0.1"
                placeholder="Nota del 1 al 10"
                min="1"
                max="10"
                required>

                <textarea
                name="comentario"
                placeholder="Escribe tu reseña..."
                required></textarea>

                <button type="submit">

                    Publicar reseña

                </button>

            </form>

            {% for resena in resenas %}

            <div class="card-reseña">


                <div class="reseña-top">

                    <div class="usuario-reseña">

                        <a
                        href="/usuario/{{ resena[1] }}"
                        class="perfil-link">

                            <div class="avatar-reseña">

                            {% if resena[4] %}

                            <img
                            src="/static/uploads/{{ resena[4] }}"
                            class="foto-reseña">

                                     
                            {% else %}

                            {{ resena[1][0] }}

                            {% endif %}

                            </div>

                            <span>

                                {{ resena[1] }}

                            </span>

                        </a>

                        <div class="acciones-reseña">

                            <a
                            href="/like/{{ resena[0] }}"
                            class="boton-like">

                            👍 {{ resena[5] }}

                            </a>

                            {% if session["usuario"] == resena[1] %}

                            <a
                            href="/borrar_resena/{{ resena[0] }}"
                            class="boton-eliminar">

                                Eliminar reseña

                           </a>

                           {% endif %}

                       </div>

                   </div>
                    <div class="nota-reseña">

                        ⭐ {{ resena[2] }}/10

                    </div>

                </div>

                <p class="texto-reseña">

                    

                    {{ resena[3] }}

                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</div>

<div
id="modal-imagen"
class="modal-imagen">

    <span
    class="cerrar-modal"
    onclick="cerrarImagen()">

        ✕

    </span>

    <img
    id="imagen-grande"
    class="imagen-grande">

</div>

<script>

function abrirImagen(src){

    document.getElementById("modal-imagen").style.display = "flex"

    document.getElementById("imagen-grande").src = src
}

function cerrarImagen(){

    document.getElementById("modal-imagen").style.display = "none"
}

</script>

<script>

if ("serviceWorker" in navigator) {

    navigator.serviceWorker.register("/service-worker.js");

}

</script>



</body>

</html>
