<!DOCTYPE html>

<html>

<head>

    <title>{{ nombre }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <a href="/" class="boton-home">

    🏠 Inicio

    </a>

    <div class="perfil-header">


        <div class="header-perfil">

    <div class="banner-perfil"></div>

    <div class="contenido-perfil">

        <div class="avatar-grande">

         {% if foto_usuario %}

         <img src="{{ url_for('static', filename='uploads/' + foto_usuario) }}" class="foto-perfil">

         {% else %}

         {{ usuario[0].upper() }}

         {% endif %}

        </div>

        {% if session["usuario"] == usuario %}

        <div class="acciones-perfil">

        <form
action="/subir_foto"
method="POST"
enctype="multipart/form-data">

    <input
    type="file"
    name="foto">

    <button type="submit">

        Subir foto

    </button>

</form>

        <h1 class="nombre-perfil">
            {{ usuario }}
        </h1>

        <form
        action="/cambiar_nombre"
        method="POST"
        class="form-cambiar-nombre">

            <input
            type="text"
            name="nombre_nuevo"
            placeholder="Nuevo nombre"
            required>

            <button type="submit">

                Cambiar nombre

            </button>

        </form>

        </div>

        {% endif %}

        <div class="stats-perfil">

            <div class="stat-box">

                <h2>{{ resenas|length }}</h2>

                <p>Reseñas</p>

            </div>

            <div class="stat-box">

                <h2>{{ favoritos|length }}</h2>

                <p>Favoritos</p>

            </div>

        </div>

    </div>

</div>

    </div>

<h2 class="perfil-titulo">
    Juegos favoritos
</h2>

<h2 class="titulo-seccion">
    ⭐ Juegos Favoritos
</h2>

<div class="grid-favoritos">

{% for juego in favoritos %}

<a
href="/juego/{{ juego.id }}"
class="card-favorito">

    <img
    src="{{ juego.background_image }}">

    <div class="info-favorito">

        <h3>{{ juego.name }}</h3>


    </div>

</a>

{% endfor %}

</div>

    <h2 class="perfil-titulo">
        Reseñas recientes
    </h2>

    <div class="perfil-reseñas">

        {% for resena in resenas %}

            <div class="perfil-card">

                <p class="perfil-juego">
                    {{ resena[0] }}
                </p>

                <p class="perfil-nota">
                    ⭐ {{ resena[1] }}/10
                </p>

                <p class="perfil-comentario">
                    {{ resena[2] }}
                </p>

                <p class="likes-perfil">

                    👍 {{ resena[3] }} likes

                </p>

            </div>

        {% endfor %}

    </div>

    <script>

if ("serviceWorker" in navigator) {

    navigator.serviceWorker.register("/service-worker.js");

}

</script>

</body>

</html>